.modal{
    height: 90vh;
    width: 85%;
    /* vertical-align:middle; */
    /* position: fixed; */
    z-index: 10;
    top: 5%;
    overflow-y: scroll;
}

#modal-title{
    text-align: center;
    font-size: 2.25rem;
}



/*              */

#search-engine{
    height: 65vh;
    overflow: scroll;
    direction: rtl;
}


.gsc-tabsArea{
    display: none;
}

.gsc-positioningWrapper{
    display: none;
}

.gsc-above-wrapper-area{
    display: none;
}

.gsc-imageResult > .gsc-expansionArea{
    display: flex;
    overflow-x: scroll;
}

.gs-image{
    height: 30vh;
}

.gsc-cursor{
    font-size: 1rem;
}

/*              */

#container-ed-del{
    /* border: 5px solid black; */
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

/*
.edit-field-visible{
    visibility: visible;
}*/


.fact-boxes{
    width: 50%;
}

