.modal{
    height: 90vh;
    /* width: 85%; */
    /* position: fixed; */
    z-index: 100;
    top: 5%;
    overflow-y: scroll;
    background: rgba(250, 235, 215, 0.85);
	/* padding: 20px 30px; */
	text-align: left;
	width: 80vw;
	/* margin: auto; */

    top: 50%;
    left: 50%;
    margin-top: -45vh; /* Negative half of height. */
    margin-left: -40vw; /* Negative half of width. */

	position: fixed;
}

#modal-title{
    text-align: center;
    font-size: 2.25rem;
}



/*              */

#search-engine{
    height: 55vh;
    overflow: scroll;
    direction: rtl;
}

.gsc-results .gsc-imageResult{
    width: 33%;
}

.gsc-tabsArea{
    display: none;
}

.gsc-positioningWrapper{
    display: none;
}

.gsc-above-wrapper-area{
    display: none;
}

.gsc-imageResult > .gsc-expansionArea{
    display: flex;
    overflow-x: scroll;
}

.gs-image{
    height: 30vh;
}

.gsc-cursor{
    font-size: 1rem;
}

/*              */

#container-ed-del{
    /* border: 5px solid black; */
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

/*
.edit-field-visible{
    visibility: visible;
}*/


.fact-boxes{
    width: 50%;
}

