body, html {
  margin: 0;
}

h1 {
  text-align: center;
}

#want {
  margin: 0 auto;
}

#btn1, .edit-row, #del-sel, #print, .see-more {
  font-size: 20px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.edit-row {
  display: none;
}

.edit-row, #del-sel, #print {
  border: 3px solid rgba(170, 170, 170, 0.481);
  padding: 0.5rem;
}

.edit-row:hover, #del-sel:hover, #print:hover {
  color: black;
  font-weight: 600;
}

#del-sel {
  background-color: rgba(189, 186, 187, 0.611);
  width: 15rem;
}

#del-sel:hover {
  background-color: rgb(187, 8, 71);
  color: white;
}

.edit-row {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.edit-row:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

#print {
  background-color: rgb(167, 154, 242);
  font-size: 16px;
}

#print:hover {
  background-color: rgb(74, 55, 177);
  color: white;
}

#pdf {
  background-color: rgb(167, 154, 242);
  font-size: 18px;
  border: 3px solid rgba(170, 170, 170, 0.481);
  padding: 0.5rem;
}

#table {
  border-spacing: 0.2rem;
  border-collapse: separate;
  margin: auto;
  width: 85%;
}

td {
  padding: 0.8rem;
  text-align: center;
  font-size: 1.25rem;
  border-spacing: 1rem;
}

td:nth-child(1) {
  padding: 0;
}

.data-row {
  border-bottom: 1px solid black;
  row-gap: 1rem;
  background-color: rgb(41, 41, 96);
  color: white;
  border: 1px white solid;
  border-radius: 5px;
}

tr {
  border-spacing: 5px;
}

.data-row:nth-child(2) {
  border-radius: 0.5rem 0 0 0.5rem;
}

.data-row:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}

tr:nth-child(even) td:nth-child(1), tr:nth-child(even) td:nth-child(2), tr:nth-child(even) td:nth-child(3), tr:nth-child(even) td:nth-child(4) {
  background-color: rgba(144, 144, 144, 0.084);
}

ul {
  margin: 0;
  padding-left: 1.25rem;
}

#sel-all {
  width: 1rem;
  height: 1rem;
}

.checkbox {
  width: 1rem;
  height: 1rem;
}

td:where(.check-td) {
  padding: 0;
  width: 0;
  height: 0;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.cbox-form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#container-add-place {
  align-items: baseline;
}

#head-text {
  padding: 2rem;
}

#container-add-place h3 {
  text-align: center;
}

#add-place {
  text-align: center;
}

.text {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 18px;
  width: 14rem;
}

#container-btn1 {
  text-align: center;
}

#btn1 {
  width: 15rem;
  padding: 1rem;
  border: 1rem, rgb(170, 175, 170);
  background-color: rgb(0, 41, 165);
  color: white;
  font-weight: 600;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  align-content: center;
}

#btn1:hover {
  border: 1.5rem, rgb(87, 87, 87);
  background-color: white;
  color: rgb(0, 41, 165);
}

.container-input {
  margin: 3rem 0;
}

.container-input label {
  align-items: center;
}

#btn-msg {
  display: flex;
  flex-direction: column;
  margin: 2.5rem auto;
}

#msg {
  width: 100%;
  display: flex;
  margin: auto;
  gap: 15%;
  align-items: center;
  padding: 2rem 0 0 0;
}

#btn {
  width: 100%;
  margin: 0 auto auto auto;
  padding: 2rem 0 0 0;
  text-align: center;
}

@-webkit-keyframes fdback {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fdback {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#fdback {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-name: fdback;
          animation-name: fdback;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#container-figure {
  display: flex;
  flex-wrap: wrap;
}

.figure-img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.5rem;
}

.img {
  width: 20rem;
  height: auto;
}

#map {
  background-color: rgb(47, 65, 79);
  height: 100vh;
}

dialog::-webkit-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.31));
}

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.31));
}

@media screen and (max-width: 700px) {
  #container-table-btns {
    width: 100%;
  }
  #table {
    width: 100%;
  }
  tbody {
    border-spacing: 0;
    border-collapse: collapse;
  }
  td, .see-more {
    padding: 0;
    font-size: 0.95rem;
    border-spacing: 0;
  }
  .container-see-more {
    border: 0.1px black solid;
  }
  .edit-row, .checkbox {
    display: none;
  }
  tr th:nth-child(5), tr th:nth-child(6), tr th:nth-child(5) {
    display: none;
  }
  #btn, #print {
    display: none;
  }
  #container-table-btns p {
    text-align: center;
    font-size: 0.9rem;
  }
  #container-print {
    text-align: center;
  }
}
@media screen and (min-width: 450px) and (max-width: 549px) {
  td {
    font-size: 1rem;
  }
}
@media screen and (min-width: 550px) and (max-width: 699px) {
  td {
    font-size: 1.15rem;
  }
}/*# sourceMappingURL=style.css.map */